In [8]:
from typing import List, Dict, Any
import pandas as pd
import numpy as np
import os

In [9]:
train_df = pd.read_csv(os.path.join('data', "train.csv"))
train_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [14]:
def substitute_sex(x: str) -> int:
    return int(x != "male")


def stone_the_adulters(x: int) -> str: # denormalizing function
    return "male" if x == 0 else "female"

def substitute_embarked(x: str) -> int:
    if x == "S":
        return 0
    elif x == "C":
        return 1
    else:
        return 2

def disembarque(x: int) -> str:
    if x == 0:
        return "S"
    elif x == 1:
        return "C"
    else:
        return "Q"

In [ ]:
train_df = train_df.drop(columns=['PassengerId', 'Name', 'Ticket', 'Fare', 'Cabin'])
train_df = train_df.dropna()


train_df['Sex'] = train_df['Sex'].apply(substitute_sex)
train_df['Embarked'] = train_df['Embarked'].apply(substitute_embarked)


mean = train_df['Age'].mean()
std = train_df['Age'].std()
train_df['Age'] = (train_df['Age'] - mean) / std

In [21]:
train_df['bias'] = [1 for x in range((train_df.shape[0]))]

In [22]:
train_df

     Survived  Pclass  Sex       Age  SibSp  Parch  Embarked  bias
0           0       3    0 -0.527298      1      0         0     1
1           1       1    1  0.576688      1      0         1     1
2           1       3    1 -0.251301      0      0         0     1
3           1       1    1  0.369691      1      0         0     1
4           0       3    0  0.369691      0      0         0     1
..        ...     ...  ...       ...    ...    ...       ...   ...
885         0       3    1  0.645688      0      5         2     1
886         0       2    0 -0.182302      0      0         0     1
887         1       1    1 -0.734295      0      0         0     1
889         1       1    0 -0.251301      0      0         1     1
890         0       3    0  0.162694      0      0         2     1

[712 rows x 8 columns]

In [32]:
from sklearn.model_selection import train_test_split

X = train_df.drop(columns=['Survived'])
y = train_df['Survived']

X_train, X_test, y_train, y_test = train_test_split(X.values, y.values, test_size=0.15, random_state=69)

In [33]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((605, 7), (107, 7), (605,), (107,))

In [115]:
def MSELoss(y_true: np.ndarray, y_pred: np.ndarray) -> np.float32:
    y_true = y_true.flatten()
    y_pred = y_pred.flatten()
    return (1/len(y_true)) * np.sum((y_pred - y_true) ** 2)

def MAELoss(y_true: np.ndarray, y_pred: np.ndarray) -> np.float32:
    y_true = y_true.flatten()
    y_pred = y_pred.flatten()
    return (1/len(y_true)) * np.sum(np.abs((y_pred - y_true)))

def accuracy_with_thresholding(y_true: np.ndarray, y_pred: np.ndarray, threshold = 0.5):
    y_true = y_true.flatten()
    y_pred = y_pred.flatten()
    return np.sum(
        y_true == (y_pred > threshold).astype(np.int32)
    ) / len(y_true)
    
def sigmoid(z):
    return 1/(1 + np.exp(-z))

# Full batch Gradient Descent

In [126]:
np.random.seed(69)
W = np.random.rand(7).reshape(7,1)
learning_rate = 0.00005

In [ ]:
epochs = 5000
for epoch in range(epochs):
    
    y_pred = sigmoid(np.matmul(X_train, W))
    train_loss = MSELoss(y_train, y_pred)
    W = W - learning_rate * np.matmul(X_train.T, (y_pred - y_train.reshape(-1,1)) * (y_pred * (1-y_pred)))
    
    y_pred_val = sigmoid(np.matmul(X_test, W))
    validation_loss = MSELoss(y_test, y_pred_val)
    validation_accuracy = accuracy_with_thresholding(y_test, y_pred_val)
    
    if (epoch + 1 ) % 100 == 0:
        print(f"Accuracy: {validation_accuracy}, Training Loss: {train_loss}, Validation Loss: {validation_loss}")

Accuracy: 0.6542056074766355, Training Loss: 0.2659838433192597, Validation Loss: 0.2493421244585776
Accuracy: 0.719626168224299, Training Loss: 0.22361600205484658, Validation Loss: 0.21337818861036278
Accuracy: 0.7009345794392523, Training Loss: 0.2101098947839723, Validation Loss: 0.2045607648473325
Accuracy: 0.7009345794392523, Training Loss: 0.20225861098363515, Validation Loss: 0.19985480473574646
Accuracy: 0.7009345794392523, Training Loss: 0.1958965940141562, Validation Loss: 0.19568709709248203
Accuracy: 0.719626168224299, Training Loss: 0.19022805168284393, Validation Loss: 0.1915548249478347
Accuracy: 0.7289719626168224, Training Loss: 0.18515919805569891, Validation Loss: 0.187507923553139
Accuracy: 0.7289719626168224, Training Loss: 0.18071125358891585, Validation Loss: 0.18368681626405506
Accuracy: 0.7383177570093458, Training Loss: 0.1768782999640983, Validation Loss: 0.18020312027510887
Accuracy: 0.7850467289719626, Training Loss: 0.17361345996027738, Validation Loss: 0.1771077172362224
Accuracy: 0.7850467289719626, Training Loss: 0.17084614794690253, Validation Loss: 0.17439830056659017
Accuracy: 0.7757009345794392, Training Loss: 0.16849936362692874, Validation Loss: 0.17204092816029842
Accuracy: 0.7757009345794392, Training Loss: 0.1665005078349929, Validation Loss: 0.1699892297992807
Accuracy: 0.7757009345794392, Training Loss: 0.16478636474897845, Validation Loss: 0.1681961169201019
Accuracy: 0.7757009345794392, Training Loss: 0.1633043456782853, Validation Loss: 0.16661918584517366
Accuracy: 0.7757009345794392, Training Loss: 0.16201181940097462, Validation Loss: 0.16522239786086484
Accuracy: 0.7757009345794392, Training Loss: 0.16087469527084472, Validation Loss: 0.16397598874290747
Accuracy: 0.7757009345794392, Training Loss: 0.15986587274161743, Validation Loss: 0.16285570253241677
Accuracy: 0.7663551401869159, Training Loss: 0.1589638270715776, Validation Loss: 0.16184186850825275
Accuracy: 0.7570093457943925, Training Loss: 0.15815142017618186, Validation Loss: 0.16091853432760814
Accuracy: 0.7570093457943925, Training Loss: 0.1574149422938438, Validation Loss: 0.16007272512532827
Accuracy: 0.7570093457943925, Training Loss: 0.1567433574866373, Validation Loss: 0.1592938376209067
Accuracy: 0.7570093457943925, Training Loss: 0.15612771720262075, Validation Loss: 0.1585731555767015
Accuracy: 0.7570093457943925, Training Loss: 0.15556070745085016, Validation Loss: 0.15790346666970845
Accuracy: 0.7570093457943925, Training Loss: 0.15503630005083363, Validation Loss: 0.15727876113357503
Accuracy: 0.7570093457943925, Training Loss: 0.15454948401622393, Validation Loss: 0.15669399509808898
Accuracy: 0.7570093457943925, Training Loss: 0.15409605825861883, Validation Loss: 0.15614490460519587
Accuracy: 0.7570093457943925, Training Loss: 0.15367247108619658, Validation Loss: 0.15562785912053345
Accuracy: 0.7663551401869159, Training Loss: 0.15327569539806551, Validation Loss: 0.1551397457676301
Accuracy: 0.7663551401869159, Training Loss: 0.15290313114146054, Validation Loss: 0.15467787746331896
Accuracy: 0.7663551401869159, Training Loss: 0.1525525286419474, Validation Loss: 0.15423991967553644
Accuracy: 0.7663551401869159, Training Loss: 0.15222192796797857, Validation Loss: 0.15382383172690375
Accuracy: 0.7663551401869159, Training Loss: 0.15190961066277775, Validation Loss: 0.153427819496772
Accuracy: 0.7757009345794392, Training Loss: 0.1516140610592139, Validation Loss: 0.15305029708943474
Accuracy: 0.7757009345794392, Training Loss: 0.1513339350578346, Validation Loss: 0.15268985558520187
Accuracy: 0.7757009345794392, Training Loss: 0.1510680347487726, Validation Loss: 0.15234523741231573
Accuracy: 0.7850467289719626, Training Loss: 0.15081528763585503, Validation Loss: 0.15201531520118303
Accuracy: 0.7850467289719626, Training Loss: 0.15057472950676806, Validation Loss: 0.15169907423117693
Accuracy: 0.7850467289719626, Training Loss: 0.15034549020962953, Validation Loss: 0.1513955977719843
Accuracy: 0.7757009345794392, Training Loss: 0.15012678176102118, Validation Loss: 0.15110405476961908
Accuracy: 0.7757009345794392, Training Loss: 0.14991788833628042, Validation Loss: 0.15082368944203825
Accuracy: 0.7757009345794392, Training Loss: 0.1497181577892405, Validation Loss: 0.15055381243857802
Accuracy: 0.7757009345794392, Training Loss: 0.14952699442279446, Validation Loss: 0.15029379328710032
Accuracy: 0.7757009345794392, Training Loss: 0.14934385278901655, Validation Loss: 0.15004305390732
Accuracy: 0.7757009345794392, Training Loss: 0.1491682323421162, Validation Loss: 0.14980106301170207
Accuracy: 0.7757009345794392, Training Loss: 0.14899967280225881, Validation Loss: 0.14956733124921268
Accuracy: 0.7757009345794392, Training Loss: 0.14883775011554126, Validation Loss: 0.1493414069740852
Accuracy: 0.7757009345794392, Training Loss: 0.14868207291688718, Validation Loss: 0.14912287254316423
Accuracy: 0.7757009345794392, Training Loss: 0.1485322794196385, Validation Loss: 0.14891134106251264
Accuracy: 0.7757009345794392, Training Loss: 0.1483880346691635, Validation Loss: 0.1487064535177231

# Mini-Batch Gradient Descent

In [134]:
np.random.seed(69)
W = np.random.rand(7).reshape(7,1)
learning_rate = 0.00005

In [135]:
import math
epochs = 5000
batch_size = 100
n_batches = math.ceil(X_train.shape[0] / batch_size)

for epoch in range(epochs):
    # batching
    
    for batch_no in range(n_batches):
        batch_x_train = X_train[batch_no * batch_size: (batch_no + 1) * batch_size, :]
        batch_y_train = y_train[batch_no * batch_size: (batch_no + 1) * batch_size]
    
        y_pred = sigmoid(np.matmul(batch_x_train, W))
        train_loss = MSELoss(batch_y_train, y_pred)
        W = W - learning_rate * np.matmul(batch_x_train.T, (y_pred - batch_y_train.reshape(-1,1)) * (y_pred * (1-y_pred)))
        
        y_pred_val = sigmoid(np.matmul(X_test, W))
        validation_loss = MSELoss(y_test, y_pred_val)
        validation_accuracy = accuracy_with_thresholding(y_test, y_pred_val)
        
    if (epoch + 1 ) % 100 == 0:
        print(f"Accuracy: {validation_accuracy}, Training Loss: {train_loss}, Validation Loss: {validation_loss}")

Accuracy: 0.6542056074766355, Training Loss: 0.1754968472295485, Validation Loss: 0.2494405864959342
Accuracy: 0.719626168224299, Training Loss: 0.14341053253149968, Validation Loss: 0.2134183998144617
Accuracy: 0.7009345794392523, Training Loss: 0.1408876812652112, Validation Loss: 0.2045579925243664
Accuracy: 0.7009345794392523, Training Loss: 0.14004271058386566, Validation Loss: 0.1998420226029134
Accuracy: 0.7009345794392523, Training Loss: 0.1379681131188164, Validation Loss: 0.19567460042008283
Accuracy: 0.719626168224299, Training Loss: 0.13473012532267595, Validation Loss: 0.1915450413606585
Accuracy: 0.7289719626168224, Training Loss: 0.1307286215458395, Validation Loss: 0.1875010851636707
Accuracy: 0.7289719626168224, Training Loss: 0.12636575465629346, Validation Loss: 0.1836826352653255
Accuracy: 0.7383177570093458, Training Loss: 0.1219738932342701, Validation Loss: 0.18020116352957835
Accuracy: 0.7850467289719626, Training Loss: 0.11777855368809412, Validation Loss: 0.1771074955761982
Accuracy: 0.7850467289719626, Training Loss: 0.11389752640452994, Validation Loss: 0.17439934123880543
Accuracy: 0.7757009345794392, Training Loss: 0.11036802295703983, Validation Loss: 0.17204282937019846
Accuracy: 0.7757009345794392, Training Loss: 0.1071798606359957, Validation Loss: 0.16999168005104473
Accuracy: 0.7757009345794392, Training Loss: 0.104301022993832, Validation Loss: 0.16819888896049098
Accuracy: 0.7757009345794392, Training Loss: 0.10169302991831936, Validation Loss: 0.1666221205596902
Accuracy: 0.7757009345794392, Training Loss: 0.09931860909499018, Validation Loss: 0.16522538737020626
Accuracy: 0.7757009345794392, Training Loss: 0.09714478729297821, Validation Loss: 0.1639789621988231
Accuracy: 0.7757009345794392, Training Loss: 0.0951436423658434, Validation Loss: 0.16285861521830927
Accuracy: 0.7663551401869159, Training Loss: 0.09329201739055167, Validation Loss: 0.16184469382477878
Accuracy: 0.7570093457943925, Training Loss: 0.09157086397118926, Validation Loss: 0.16092125803032084
Accuracy: 0.7570093457943925, Training Loss: 0.08996452354100554, Validation Loss: 0.1600753412390066
Accuracy: 0.7570093457943925, Training Loss: 0.08846007265839442, Validation Loss: 0.1592963455737811
Accuracy: 0.7570093457943925, Training Loss: 0.08704677177605775, Validation Loss: 0.1585755582105938
Accuracy: 0.7570093457943925, Training Loss: 0.08571561927950072, Validation Loss: 0.15790576887337118
Accuracy: 0.7570093457943925, Training Loss: 0.084458998293025, Validation Loss: 0.15728096891609783
Accuracy: 0.7570093457943925, Training Loss: 0.0832704000314316, Validation Loss: 0.15669611497087563
Accuracy: 0.7570093457943925, Training Loss: 0.08214420815828526, Validation Loss: 0.15614694317874114
Accuracy: 0.7570093457943925, Training Loss: 0.0810755308358121, Validation Loss: 0.1556298228495319
Accuracy: 0.7663551401869159, Training Loss: 0.08006006966101951, Validation Loss: 0.15514164079754691
Accuracy: 0.7663551401869159, Training Loss: 0.0790940169767028, Validation Loss: 0.15467970954554802
Accuracy: 0.7663551401869159, Training Loss: 0.07817397496721808, Validation Loss: 0.15424169412820965
Accuracy: 0.7663551401869159, Training Loss: 0.07729689148682861, Validation Loss: 0.153825553425448
Accuracy: 0.7663551401869159, Training Loss: 0.07646000876842551, Validation Loss: 0.1534294928832617
Accuracy: 0.7663551401869159, Training Loss: 0.07566082208261668, Validation Loss: 0.1530519261932668
Accuracy: 0.7757009345794392, Training Loss: 0.07489704611950296, Validation Loss: 0.15269144405005017
Accuracy: 0.7757009345794392, Training Loss: 0.07416658739758022, Validation Loss: 0.1523467885260132
Accuracy: 0.7850467289719626, Training Loss: 0.07346752140632429, Validation Loss: 0.15201683192635143
Accuracy: 0.7850467289719626, Training Loss: 0.07279807349263777, Validation Loss: 0.15170055923522802
Accuracy: 0.7850467289719626, Training Loss: 0.07215660273070897, Validation Loss: 0.15139705345566584
Accuracy: 0.7757009345794392, Training Loss: 0.07154158818835203, Validation Loss: 0.15110548329364898
Accuracy: 0.7757009345794392, Training Loss: 0.07095161713447128, Validation Loss: 0.1508250927516144
Accuracy: 0.7757009345794392, Training Loss: 0.07038537483233016, Validation Loss: 0.15055519228571165
Accuracy: 0.7757009345794392, Training Loss: 0.06984163563963906, Validation Loss: 0.150295151250821
Accuracy: 0.7757009345794392, Training Loss: 0.06931925519494074, Validation Loss: 0.15004439141185924
Accuracy: 0.7757009345794392, Training Loss: 0.06881716351474496, Validation Loss: 0.14980238134279633
Accuracy: 0.7757009345794392, Training Loss: 0.06833435886062769, Validation Loss: 0.1495686315686826
Accuracy: 0.7757009345794392, Training Loss: 0.0678699022625209, Validation Loss: 0.1493426903328472
Accuracy: 0.7757009345794392, Training Loss: 0.06742291260550837, Validation Loss: 0.14912413989283102
Accuracy: 0.7757009345794392, Training Loss: 0.06699256220403808, Validation Loss: 0.14891259326572898
Accuracy: 0.7757009345794392, Training Loss: 0.06657807280055877, Validation Loss: 0.14870769135737164